{% embed "layout/section.html.twig" with {
  section_class : ["section", "swiper-section", "z-10"]
} %}

  {% block section %}

    <div class="row">
      <div class="col w-10/12 mx-auto">
        <p class="text-2lg md:text-xl font-bold font-display uppercase leading-none">
          {{ title }}
        </p>
      </div>
    </div>

    <div class="row mt-20">
      <div class="col w-10/12 lg:w-8/12 mx-auto">

        <div class="swiper-container hidden md:block" data-slides-per-view="2" data-space-between="8">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for slide in slides %}
                  <div class="swiper-slide">
                    <p>
                      {{ slide.quote }}
                    </p>
                    <p class="mt-8 font-bold underline">
                      {{ slide.name }}
                    </p>
                  </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination mt-24"></div>
        </div>

        <div class="swiper-container block md:hidden" data-slides-per-view="1" data-space-between="8">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for slide in slides %}
                  <div class="swiper-slide">
                    <p>
                      {{ slide.quote }}
                    </p>
                    <p class="mt-8 font-bold underline">
                      {{ slide.name }}
                    </p>
                  </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination mt-24"></div>
        </div>
      </div>
    </div>
    

  {% endblock %}

{% endembed %}
