{% extends "core/base.html.twig" %}

{% set header_color = "orange-light" %}

{% block main %}

  {% embed "layout/section.html.twig" with {
    section_class: ['section', 'bg-blue', 'text-orange-light']
  } %}

    {% block section %}

      <div class="header-offset"></div>

      <div class="row">
        <div class="col ml-1/12 w-8/12">

          <h2>
            {{ post.title }}
          </h2>
          <p class="uppercase font-display my-4">{{ post.meta('page_header').date }}
            - DOOR
            {{ post.meta('page_header').author }}</p>

        </div>
      </div>

    {% endblock %}

  {% endembed %}

  <section class="relative pb-24">
    <div class="container ">
      <div class="row relative z-20">
        <div class="col w-full">
          <div class="mx-12">
            {% include "components/image.html.twig" with {
            figure_class: ['w-full', 'landscape'],
            image: post.meta('page_header').image
          } %}
          </div>
        </div>
      </div>
    </div>
    <div class="absolute inset-0 z-10">
      <div class="w-full pt-4/12 bg-blue"></div>
    </div>
  </section>

  {% for item in post.meta("modular_blocks") %}

    {% if item.acf_fc_layout == "image_block" %}
      {% embed "layout/section.html.twig" with {
        section_class: ['section', 'text-blue']
      } %}

        {% block section %}

          <div class="row">
            <div class="col mx-auto w-10/12">

              {% include "components/image.html.twig" with {
                figure_class: ['w-full', 'landscape'],
                image: item.image
              } %}

            </div>
          </div>

        {% endblock %}

      {% endembed %}

    {% elseif item.acf_fc_layout == "text_block" %}

      {% embed "layout/section.html.twig" with {
          section_class: ['section', 'text-blue']
        } %}

        {% block section %}
          {% if item.header %}
            <div class="row">
              <div class="col mx-auto w-6/12">

                <h3 class="mb-8">technologie</h3>

              </div>
            </div>
          {% endif %}
          <div class="row">
            <div class="col mx-auto w-6/12">
              {% if item.bol_preface %}
                <p class="font-bold mb-4">
                  {{ item.bol_preface }}
                </p>
              {% endif %}

              {% if item.text %}
                <p>
                  {{ item.text }}
                </p>
              {% endif %}

            </div>
          </div>

        {% endblock %}

      {% endembed %}

    {% elseif item.acf_fc_layout == "quote_block" %}

      {% embed "layout/section.html.twig" with {
        section_class: ['section', 'text-blue']
      } %}

        {% block section %}

          <div class="row">
            <div class="col ml-2/12 w-6/12">

              <blockquote class="mb-16">{{ item.quote }}</blockquote>

            </div>
          </div>
          
          {% if item.text %}
          <div class="row">
            <div class="col mx-auto w-6/12">
            
              <p>
                {{item.text}}
              </p>

            </div>
          </div>
          {% endif %}

        {% endblock %}

      {% endembed %}

    {% elseif item.acf_fc_layout == "cta_block" %}

      {% embed "layout/section.html.twig" with {
    section_class: ['section', 'text-blue', 'bg-orange-light']
  } %}

    {% block section %}

      <div class="row">
        <div class="col mx-auto w-8/12 text-center">

          <h3 class="mb-8">{{ item.text }}</h3>

        </div>
      </div>
      <div class="row">
        <div class="col mx-auto w-6/12 flex justify-center">
          <a href="" class="button block text-lg text-white bg-blue">{{ item.button.text }}</a>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

    {% endif %}

  {% endfor %}

{% endblock %}
