{% extends "core/base.html.twig" %}

{% set main_class = ['header-offset', 'text-blue', 'bg-white'] %}

{% block main %}

  {% embed "layout/section.html.twig" with {
    section_class : ["relative", "z-10", "pt-0"]
  } %}

    {% block section %}

      <div class="row">

        <div class="col w-7/12 md:w-5/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"],
            image: post.meta('page_header').images[0].image
          } %}
        </div>

        <div class="col w-6/12 md:w-3/12 mt-2/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"],
            image: post.meta('page_header').images[1].image
          } %}
        </div>

        <div class="col w-3/12 hidden md:block ml-1/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "portrait"],
            image: post.meta('page_header').images[2].image
          } %}
        </div>

      </div>

    {% endblock %}

  {% endembed %}

  <section class="pt-16">
    <div class="container">

      <div class="row">
        <div class="col md:ml-1/12 w-11/12">

          <h1 class="">
            {{ post.meta('page_header').header }}
          </h1>
        
        </div>
      </div>

    </div>
  </section>

  {% include "components/text.html.twig" with {
      columns: {
          left: post.meta('text_block').left_column,
          right: post.meta('text_block').right_column
      },
      button: false
  } %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "bg-orange-light"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-10/12 md:w-9/12 lg:w-6/12 mx-auto">
          {# <p class="text-2xl font-bold font-display uppercase"> #}
          <h3 class="text-center">
            {{ post.meta('quote_block').text }}
          </h3>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "relative", "z-10", "fietsen-swiper-section"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-10/12 mx-auto">
          <h3 class="">
            {{ post.meta('bike_selector').header }}
          </h3>
        </div>
      </div>

      <div class="row flex-wrap mt-20">
        <div class="col w-full md:w-3/12 md:ml-1/12 lg:ml-2/12">
          <ul class="flex justify-between md:block md:text-lg lg:text-2lg font-bold font-display uppercase leading-normal">
            <li class="md:w-full urban swiper-navigator mb-4 active">
              <span class="block">urban bikes</span>
              <ul class="nav-items">

              {% for item in post.meta('bike_selector').urban %}
                <li class="nav-item {% if loop.index == 1 %}active{% endif %}">{{ item.name }}</li>
              {% endfor %}

              </ul>
            </li>
            <li class="md:w-full cross swiper-navigator mb-4">
              <span>cross</span>
              <ul class="nav-items">
              {% for item in post.meta('bike_selector').cross %}
                <li class="nav-item {% if loop.index == 1 %}active{% endif %}">{{ item.name }}</li>
              {% endfor %}
              </ul>
            </li>
            <li class="md:w-full race swiper-navigator mb-4">
              <span>race</span>
              <ul class="nav-items">
              {% for item in post.meta('bike_selector').race %}
                <li class="nav-item {% if loop.index == 1 %}active{% endif %}">{{ item.name }}</li>
              {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <div class="col w-full md:w-7/12">
          <div class="relative">
            <div class="placeholder pt-8/12"></div>

            <!-- Slider main container -->
            <div class="swiper-container absolute inset-0 urban active">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->

                {% for item in post.meta('bike_selector').urban %}
                  <div class="swiper-slide">

                    {% include "components/image.html.twig" with {
                      figure_class : ["w-full", "landscape"],
                      image: item.image
                    } %}

                  </div>
                {% endfor %}

              </div>

            </div>


            <div class="swiper-container absolute inset-0 cross">

              <div class="swiper-wrapper">

                {% for item in post.meta('bike_selector').cross %}
                  <div class="swiper-slide">

                    {% include "components/image.html.twig" with {
                      figure_class : ["w-full", "landscape"],
                      image: item.image
                    } %}

                  </div>
                {% endfor %}

              </div>
              
            </div>

            <div class="swiper-container absolute inset-0 race">

              <div class="swiper-wrapper">

                {% for item in post.meta('bike_selector').race %}
                  <div class="swiper-slide">

                    {% include "components/image.html.twig" with {
                      figure_class : ["w-full", "landscape"],
                      image: item.image
                    } %}

                  </div>
                {% endfor %}

              </div>
              
            </div>

          </div>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-full md:w-10/12 mx-auto">
          <div class="flex flex-wrap">

            {% for item in post.meta('bike_selector').logos %}
              
            <div class="w-1/5 py-2 px-2 md:px-5 md:py-5">
              <img src="{{ TimberImage(item.image) }}" alt="">
            </div>

            {% endfor %}
          
          </div>
          </div>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "bg-blue", "text-white"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-10/12 md:w-9/12 lg:w-6/12 mx-auto">
          {# <p class="text-2xl font-bold font-display uppercase"> #}
          <h2 class="text-center mb-12">
            {{ post.meta('cta_block').text }}
          </h2>
          <div class="flex justify-center">
            <a href="" class="button block text-lg text-blue bg-white">{{ post.meta('cta_block').button.caption }}</a>
          </div>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section"]
  } %}

    {% block section %}

      <div class="row flex-wrap">
        <div class="col w-full md:w-5/12">
          <h3 class="mb-16 text-blue">{{ post.meta('workshop_block').header }}</h3>
          <div class="text-blue lg:ml-1/5 paragraphs">
          <p>
            {{ post.meta('workshop_block').text }}
          </p>
            <div class="flex mb-12 md:mb-0">
              <a href="" class="block button bg-orange text-white mr-8">prijslijst</a>
              <a href="" class="block button bg-blue text-white">afspraak maken</a>
            </div>

          </div>
        </div>

        <div class="col w-10/12 md:w-5/12 lg:w-4/12 ml-1/12">
          <div class="poster bg-blue">
            {% include "components/image.html.twig" with {
              figure_class : ["w-full", "square", "z-10"],
              image: post.meta('workshop_block').poster.image
            } %}
            <div class="text-white -mt-16 relative z-20">
              <h3 class="p-4">{{ post.meta('workshop_block').poster.text }}</h3>
            </div>
          </div>
        </div>

      </div>

    {% endblock %}

  {% endembed %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "bg-orange-light", "text-blue"]
  } %}

    {% block section %}


      <div class="row">
        <div class="col w-full mb-8">
          <h3>verhalen</h3>
        </div>
      </div>

      <div class="row flex-wrap">

        {% for item in verhalen %}

          <div class="col w-10/12 ml-1/12 md:ml-0 md:w-4/12 mb-12">
            <a class="leading-none font-display font-bold uppercase my-4" href="{{item.link}}">
              {% include "components/image.html.twig" with {
                  figure_class : ["w-full", "landscape", "z-10"],
                  image: item.meta('page_header').image
              } %}
            </a>
            <p class="leading-none font-display font-bold  text-lg md:text-2lg uppercase my-4">
              {{item.title}}
            </p>
            <a class="leading-none font-display font-bold uppercase my-4" href="">lees</a>
          </div>
          
        {% endfor %}

      </div>

    {% endblock %}

  {% endembed %}

{% endblock %}