{% extends "core/base.html.twig" %}

{% set main_class = ['text-orange', 'bg-white'] %}

{% set header_color = "orange" %}

{% set footer_class = ["bg-orange", "text-orange-light"] %}

{% block main %}

  {% embed "layout/section.html.twig" with {
    section_class : ["relative", "header-offset", "bg-orange-light", "z-10"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-7/12 md:w-4/12 mt-32">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"],
            image: post.meta('page_header').images[0].image
          } %}
        </div>

        <div class="col w-2/12 hidden md:block ml-1/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "portrait"],
            image: post.meta('page_header').images[1].image
          } %}
        </div>
        <div class="col w-6/12 md:w-5/12 mt-12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"],
            image: post.meta('page_header').images[2].image
          } %}
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  <section class="section bg-orange-light">
    <div class="container">

      <div class="row">
        <div class="col md:ml-1/12 w-11/12">

          <h1 class="">
            {{post.meta('page_header').header}}
          </h1>
        
        </div>
      </div>

    </div>
  </section>

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "pt-0", "relative", "bg-orange-light", "z-10"]
    } %}

    {% block section %}

      <div class="row flex-wrap">
        <div class="col w-full md:w-5/12 lg:w-4/12 mb-8 md:mb-0 md:ml-1/12 lg:ml-2/12">
          <p class="text-base leading-normal">
            {{ post.meta('text_block_1').left_column }}
          </p>
        </div>
        <div class="col w-full md:w-5/12 lg:w-4/12 lg:ml-1/24 flex flex-col justify-between items-start">
          <p class="text-base leading-normal">
          {{ post.meta('text_block_1').right_column }}
          </p>
          {# {% if button %} #}
          <a href="#">
            <span class="button block mt-8 bg-orange font-display uppercase">{{ post.meta('text_block_1').button.text }}</span>
          </a>
          {# {% endif %} #}
        </div>
      </div>

      <div class="pb-48 md:pb-32 lg:pb-48"></div>

    {% endblock %}

  {% endembed %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "pb-0", "relative", "z-10"]
  } %}

    {% block section %}

      <div class="row flex-wrap">
        <div class="col w-10/12 md:w-5/12 lg:w-4/12 ml-1/12">
          <div class="flex justify-center md:justify-start">
            <h3 class="px-6 pt-6 pb-20 bg-orange text-orange-light" style="margin-top: -244px">
              {{ post.meta('text_block_1').poster }}
              
              {# IEDER<br>
              MOMENT VAN<br>DE DAG IS<br>
              EEN GOED<br>
              MOMENT OM<br>EVEN TE<br>
              GENIETEN #}
            </h3>
          </div>
        </div>

        <div class="col py-8 md:pt-0 w-10/12 md:w-6/12 lg:w-5/12 ml-1/12 md:ml-0 lg:ml-1/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"],
            image:  post.meta('text_block_1').image
          } %}
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "pt-0", "relative", "z-10"]
  } %}

    {% block section %}

      <div class="row">
        <div class="col w-10/12 mx-auto">
          <h3 class="">
            {{ post.meta('text_block_2').header }}
          </h3>
        </div>
      </div>

      <div class="row flex-wrap mt-8 md:mt-20 text-black">
        <div class="col w-10/12 md:w-5/12 lg:w-4/12 ml-1/12 lg:ml-2/12 mb-8 md:mb-0">
          <p class="text-base leading-normal">
            {{ post.meta('text_block_2').left_column }}
           </p>
        </div>
        <div class="col ml-1/12 md:ml-0 w-10/12 md:w-5/12 lg:w-4/12 lg:ml-1/24 flex flex-col justify-between items-start">
          <p class="text-base leading-normal">
            {{ post.meta('text_block_2').right_column }}
          </p>

            <a href="#">
              <span class="button block mt-8 bg-orange font-display uppercase">bekijk de menukaart</span>
            </a>

        </div>
      </div>

    {% endblock %}

  {% endembed %}

   {% embed "layout/section.html.twig" with {
    section_class : ["section", "pt-0", "relative", "z-10"]
  } %}

    {% block section %}

      <div class="row items-end">
        <div class="col w-5/12 md:w-3/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"],
            image: post.meta('text_block_2').images[0].image
          } %}
        </div>

        <div class="col w-7/12 md:w-5/12 mb-8 -mr-1/12 md:mr-0" style="margin-left: 4.16667%">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape", "shadow-2xl"],
            image: post.meta('text_block_2').images[1].image
          } %}
        </div>

        <div class="col hidden md:block w-3/12 mb-24" style="margin-left: 4.16667%">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"],
            image: post.meta('text_block_2').images[2].image
          } %}
        </div>

      </div>

    {% endblock %}

  {% endembed %}

    {% include "components/text.html.twig" with {
      section_class: ['bg-orange-light', 'text-blue'],
      title: post.meta('text_block_3').header,
      columns: {
        left:  post.meta('text_block_3').left_column,
        right: post.meta('text_block_3').right_column
        }
    } %}

     {% embed "layout/section.html.twig" with {
    section_class : ["section", "relative", "bg-orange-light", "pt-0", "z-10"]
  } %}

    {% block section %}

      <div class="row items-end">
        <div class="col -ml-1/12 lg:ml-0 w-6/12 md:w-4/12 mb-8">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"],
            image: post.meta('text_block_3').images[0].image
          } %}
        </div>

        <div class="col w-7/12 md:w-5/12 lg:w-4/12" style="margin-left: 4.16667%">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape", "shadow-2xl"],
            image: post.meta('text_block_3').images[1].image
          } %}
        </div>

        <div class="col hidden md:block w-3/12 mb-24" style="margin-left: 4.16667%">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"],
            image: post.meta('text_block_3').images[2].image
          } %}
        </div>

      </div>

    {% endblock %}

  {% endembed %}

{% endblock %}