{# Default page #}

{% extends "core/base.html.twig" %}

{% set main_class = ['header-offset', 'text-blue', 'bg-white'] %}

{% block main %}

  {% include "components/hero.html.twig" with {
    text : post.meta('page_header').header
  } %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "pb-0", "relative", "z-10", "pt-0"]
  } %}

    {% block section %}
      <div class="row">
        <div class="col relative w-5/12 md:w-3/12 -ml-1/12 md:ml-0 mr-1/12 mt-1/24">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"],
            image: post.meta('page_header').images[0].image
          } %}

          <div class="absolute right-0 top-0 rotate" style="margin-top: -44px; margin-right: -28px;">
            {% include "components/stamp.svg.twig" %}
          </div>
        </div>

        <div class="col w-7/12 md:w-5/12 md:ml-2/12 mt-4">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape", "shadow-2xl"],
            image: post.meta('page_header').images[1].image
          } %}
        </div>
      </div>

      <div class="row mt-5/12 md:mt-1/12">
        <div class="col w-5/12 md:w-4/12 ml-0 md:ml-1/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape", "shadow-2xl"],
            image: post.meta('page_header').images[2].image
          } %}
        </div>

        <div class="col w-6/12 md:ml-2/12 mt-1/12">
          {% include "components/image.html.twig" with {
            figure_class : ["w-full", "landscape"],
            image: post.meta('page_header').images[3].image
          } %}
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% include "components/text.html.twig" with {
    title : post.meta('text_block').header,
    columns: {
      left: post.meta('text_block').left_column, 
      right: post.meta('text_block').right_column
    }
  } %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "pt-0", "relative", "z-10"]
  } %}

    {% block section %}

      <div class="row flex-wrap">
        <div class="col w-full mb-8 md:mb-0 md:w-6/12 lg:w-5/12 lg:ml-1/12">
          <div class="relative">
            {% include "components/image.html.twig" with {
              figure_class : ["w-full", "landscape"],
              image: post.meta('more').fietsen
            } %}
            <a href="">
              <div class="absolute inset-0 bg-blue-opacity flex justify-center items-center">
                <span class="text-lg lg:text-2lg font-bold font-display uppercase text-white border-b-2 lg:border-b-4 border-white">meer over fietsen</span>
              </div>
            </a>
          </div>
        </div>

        <div class="col w-full md:w-6/12 lg:w-5/12">
          <div class="relative">
            {% include "components/image.html.twig" with {
              figure_class : ["w-full", "landscape"],
              image: post.meta('more').koffie
            } %}
            <a href="">
              <div class="absolute inset-0 bg-orange-opacity flex justify-center items-center">
                <span class="text-lg lg:text-2lg font-bold font-display uppercase text-white border-b-2 lg:border-b-4 border-white">meer over koffie</span>
              </div>
            </a>
          </div>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% embed "layout/section.html.twig" with {
    section_class : ["section", "relative", "bg-blue", "text-white", "z-10"]
  } %}

    {% block section %}
      <div class="row">
        <div class="col w-full md:w-8/12 ml-1/12">
          <h3 class="">
            activiteiten en workshops
          </h3>
        </div>
      </div>

      <div class="row mt-12 md:mt-24">
        <div class="col w-full md:w-10/12 mx-auto">
          <div class="table w-full">

            {% for item in activiteiten %}
              
            <div class="table-row border-white">
              <div class="table-col">
                <span class="tet-base md:text-lg font-bold">{{ item.meta('date') }}</span><br>
                <span>{{ item.times_from|getTime }} - {{ item.times_to|getTime }}</span>
              </div>
              <div class="table-col flex-grow">
                <span class="tet-base md:text-lg font-bold">{{ item.title }}</span><br>
                <span>{{ item.description }}</span>
              </div>
              <div class="table-col hidden md:block">
                <span class="tet-base md:text-lg font-bold">&euro;{{ item.costs }} pp</span><br>
                <span>inschrijven</span>
              </div>
            </div>

            {% endfor %}

          </div>
        </div>
      </div>

      <div class="row items-center mt-12">
        <div class="col w-full">
          <div class="flex justify-center">
            <a href="#">
              <span class="button py-2 bg-white text-blue">bekijk op facebook</span>
            </a>
          </div>
        </div>
      </div>

    {% endblock %}

  {% endembed %}

  {% set slides = [] %}
  {% for item in post.meta('reviews').reviews %}
    {% set slide = {
      quote: item.text,
      name: item.name
    } %}

    {% set slides = slides|merge([slide]) %}
  {% endfor %}

  {% include "components/text-slider.html.twig" with {
    title : post.meta('reviews').header,
    slides: slides
  } %}

  {% if instagram_feed %}
  
  {% include "components/instagram.html.twig" with {
  } %}
  
  {% endif %}

{% endblock %}
